{% load i18n %}
{% load dibs_extras %}

<div class="dibs-payment-info">
  <div class="header">{% trans "DIBS payment info" %}</div>

  <p>
    {% if status == 'captured' %}
    {% blocktrans with currency=info.currency amount=info.amount|dibs_amount|floatformat:2 cardno=info.cardnomask %}{{ amount }} {{ currency }} has been captured on your payment card ({{ cardno }}).{% endblocktrans %}
    {% else %}
    {% blocktrans with currency=info.currency amount=info.amount|dibs_amount|floatformat:2 cardno=info.cardnomask %}{{ amount }} {{ currency }} has been reserved on your payment card ({{ cardno }}).{% endblocktrans %}
    {% endif %}
  </p>
</div>
