{% load i18n %}
{% load money %}

<div class="dibs-payment-info">
    <div class="header">{% trans "DIBS payment info" %}</div>
    {# <strong>{{ info.amount|money:info.currency }}</strong> #}

    [[{% widthratio 8700 100 1 %}]]

    {{ info.currency }} {{ info.amount }}
    {{ info.cardnomask }}
    # {% debug info %}
</div>



{
		"info": {
				"OverlayActive": "true",
				"RememberMe": "{"SessionId":"50f72158-f9b3-4ec5-84c5-8826b524e551","PaymentMethodId":"","ConsumerId":"","IsRememberMeEnabled":false}",
				"accepturl": "https://e40cbdd3.ngrok.io/test/EBILL-1/pretix_paymentdibs/return/",
				"acquirer": "TEST",
				"agreement": "5606662",
				"amount": "100",
				"approvalcode": "123456",
				"callbackurl": "https://e40cbdd3.ngrok.io/test/EBILL-1/pretix_paymentdibs/callback/",
				"cancelurl": "https://payment.architrade.com:443/paymentweb/reply.action",
				"cardcountry": "DK",
				"cardexpdate": "2406",
				"cardnomask": "XXXXXXXXXXXX0000",
				"cardprefix": "457110",
				"currency": "EUR",
				"declineurl": "https://payment.architrade.com:443/paymentweb/reply.action",
				"dibsmd5": "e45b9edcc2bf92268c5b8b0948547bc0",
				"flag": "8",
				"flexwin_cardlogosize": "2",
				"flexwin_help": "1",
				"fullreply": "1",
				"ip": "193.33.148.6",
				"merchant": "90235465",
				"orderid": "ZCTCZ",
				"originalUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; " "rv:57.0) Gecko/20100101 Firefox/57.0",
				"paytype": "V-DK",
				"postype": "ssl",
				"statuscode": "2",
				"test": "1",
				"textreply": "1",
				"token": "FH0GG5FZF3BA9O6S85C5O4LT6WJUP3IK",
				"transact": "2086769873"
		}
}
